# Projeto 5 - Trabalhando com dados do TSE em SQL

### Prof. Matheus C. Pestana

O objetivo do projeto é trabalhar com os dados do TSE em SQL. Para isso, vamos utilizar um banco de dados que contém 4 tabelas: candidatos, bens, resultados e receitas. Abaixo, as conexões do banco estão criadas, bem como o cursor. É necessário que o arquivo [aqui](https://github.com/mateuspestana/LabExtracaoAnalise_ECMI/raw/main/bases/TSE.sqlite) seja baixado e colocado no Google Colab para que o código funcione.

O projeto consiste em responder as 5 perguntas abaixo listadas, utilizando o banco de dados fornecido. Cada pergunta vale 0,15, e a última, dado o nível de complexidade, vale 0,4, totalizando 1,0 ponto.

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('TSE.sqlite')
cursor = conn.cursor()

In [5]:
# Lista todas as tabelas
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

[('candidatos',), ('resultados',), ('receitas',), ('bens',)]

In [12]:
# E se quiséssemos as primeiras 5 linhas da tabela de candidatos?
pd.read_sql_query("SELECT * FROM candidatos LIMIT 5;", conn)

,ano,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,id_candidato_bd,cpf,titulo_eleitoral,sequencial,numero,...,data_nascimento,idade,genero,instrucao,estado_civil,nacionalidade,sigla_uf_nascimento,municipio_nascimento,email,raca
0,2022,eleicao ordinaria,SP,None,None,2140,32391423845,292390560141,250001640576,2122,...,5080.0,39,masculino,ensino superior completo,solteiro(a),brasileira,SP,Catanduva,None,branca
1,2022,eleicao ordinaria,PR,None,None,7522,32659766886,318686160132,160001655029,2100,...,5223.0,38,masculino,ensino superior completo,casado(a),brasileira,SP,São Paulo,None,branca
2,2022,eleicao ordinaria,MG,None,None,9152,32732330876,254436660183,130001644581,1655,...,5158.0,39,feminino,ensino superior completo,solteiro(a),brasileira,SP,São Paulo,None,branca
3,2022,eleicao ordinaria,SP,None,None,39303,34242154810,329810830191,250001611413,1616,...,5972.0,36,masculino,ensino medio completo,casado(a),brasileira,SP,São Paulo,None,branca
4,2022,eleicao ordinaria,SP,None,None,61207,35388748839,363394180141,250001611411,1610,...,7236.0,33,feminino,ensino superior completo,solteiro(a),brasileira,SP,São Paulo,None,branca

In [14]:
# Ou...
pd.DataFrame(
    cursor.execute("SELECT * FROM candidatos LIMIT 5;").fetchall()
)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,2022,eleicao ordinaria,SP,None,None,2140,32391423845,292390560141,250001640576,2122,...,5080.0,39,masculino,ensino superior completo,solteiro(a),brasileira,SP,Catanduva,None,branca
1,2022,eleicao ordinaria,PR,None,None,7522,32659766886,318686160132,160001655029,2100,...,5223.0,38,masculino,ensino superior completo,casado(a),brasileira,SP,São Paulo,None,branca
2,2022,eleicao ordinaria,MG,None,None,9152,32732330876,254436660183,130001644581,1655,...,5158.0,39,feminino,ensino superior completo,solteiro(a),brasileira,SP,São Paulo,None,branca
3,2022,eleicao ordinaria,SP,None,None,39303,34242154810,329810830191,250001611413,1616,...,5972.0,36,masculino,ensino medio completo,casado(a),brasileira,SP,São Paulo,None,branca
4,2022,eleicao ordinaria,SP,None,None,61207,35388748839,363394180141,250001611411,1610,...,7236.0,33,feminino,ensino superior completo,solteiro(a),brasileira,SP,São Paulo,None,branca

## 1) Quantos candidatos foram eleitos em cada estado? Liste os estados em ordem alfabética. A tabela deve conter apenas a coluna do estado e a quantidade de eleitos. (0,15)

In [7]:
pd.read_sql_query("""
SELECT sigla_uf, COUNT(sigla_uf) AS qtd_eleitos FROM resultados where resultado in ('eleito por qp', 'eleito por media') AND cargo = 'deputado federal' GROUP BY sigla_uf ORDER BY sigla_uf ASC;
""", conn)

   sigla_uf  qtd_eleitos
0        AC            8
1        AL            9
2        AM            8
3        AP            8
4        BA           39
5        CE           22
6        DF            8
7        ES           10
8        GO           17
9        MA           18
10       MG           53
11       MS            8
12       MT            8
13       PA           17
14       PB           12
15       PE           25
16       PI           10
17       PR           30
18       RJ           46
19       RN            8
20       RO            8
21       RR            8
22       RS           31
23       SC           16
24       SE            8
25       SP           70
26       TO            8

## 2) Qual o valor máximo, médio e mínimo de bens de cada candidato? A tabela deve constar apenas o id do candidato e o valor máximo, médio e mínimo. (0,15)

In [11]:
pd.read_sql_query("""
SELECT id_candidato_bd, AVG(valor_item) AS valor_medio, MAX(valor_item) as valor_maximo, MIN(valor_item) as valor_minimo FROM bens GROUP BY id_candidato_bd ORDER BY valor_minimo DESC;
""", conn)

      id_candidato_bd  valor_medio  valor_maximo  valor_minimo
0             1230228  18000000.00   18000000.00   18000000.00
1             1494542  10620000.00   10620000.00   10620000.00
2             1385754   9051034.03    9051034.03    9051034.03
3              974681   5000000.00    5000000.00    5000000.00
4              695172   5000000.00    5000000.00    5000000.00
...               ...          ...           ...           ...
17931         1065540          NaN           NaN           NaN
17932         1061951          NaN           NaN           NaN
17933         1046442          NaN           NaN           NaN
17934         1015442          NaN           NaN           NaN
17935         1002071          NaN           NaN           NaN

[17936 rows x 4 columns]

## 3) Qual candidato a deputado federal teve mais voto por estado? Liste o nome do candidato, o estado e a quantidade de votos. A tabela de saída deve conter apenas o estado, o id do candidato, o nome de urna do candidato e a quantidade de votos. Apenas 1 candidato por estado. (0,15)

In [22]:
pd.read_sql_query(
    """
    SELECT sigla_uf, id_candidato_bd, MAX(votos) AS qtd_votos FROM resultados WHERE cargo = 'deputado federal' GROUP BY sigla_uf;
    """, conn
)

   sigla_uf id_candidato_bd  qtd_votos
0        AC           71359      25842
1        AL          527943     219452
2        AM         1210410     288555
3        AP          193247      27112
4        BA          528494     200909
5        CE         1177108     229509
6        DF          117641     214733
7        ES          635795     120337
8        GO          804852     254653
9        MA          690597     161206
10       MG         1383460    1492047
11       MS          567911     103111
12       MT         1750846     124671
13       PA          846246     258907
14       PB         1073704     158171
15       PE          638723     273267
16       PI         1639645     134863
17       PR          938176     344917
18       RJ         1244391     213706
19       RN         1107085     157565
20       RO          753202      85604
21       RR          607059      19881
22       RS          585476     259023
23       SC         1138005     227632
24       SE         1138490     131471
25       SP         1615029    1001472
26       TO         1501325      63813

## 4) Considerando a tabela acima, repita a consulta, mas agora adicionando o nome de urna do candidato, que está presente apenas na base "candidatos". (0,15)

In [24]:
pd.read_sql_query(
    """
    SELECT resultados.sigla_uf, resultados.id_candidato_bd, MAX(resultados.votos) AS qtd_votos, candidatos.nome_urna FROM resultados INNER JOIN candidatos ON resultados.id_candidato_bd = candidatos.id_candidato_bd WHERE resultados.cargo = 'deputado federal' GROUP BY resultados.sigla_uf;
    """, conn
)

   sigla_uf id_candidato_bd  qtd_votos              nome_urna
0        AC           71359      25842           Socorro Neri
1        AL          527943     219452            Arthur Lira
2        AM         1210410     288555            Amom Mandel
3        AP          193247      27112              Josenildo
4        BA          528494     200909             Otto Filho
5        CE         1177108     229509        André Fernandes
6        DF          117641     214733              Bia Kicis
7        ES          635795     120337         Helder Salomão
8        GO          804852     254653           Silvye Alves
9        MA          690597     161206                Detinha
10       MG         1383460    1492047       Nikolas Ferreira
11       MS          567911     103111          Marcos Pollon
12       MT         1750846     124671  Professora Rosa Neide
13       PA          846246     258907   Dra Alessandra Haber
14       PB         1073704     158171             Hugo Motta
15       PE          638723     273267         André Ferreira
16       PI         1639645     134863            Julio César
17       PR          938176     344917       Deltan Dallagnol
18       RJ         1244391     213706    Daniela Do Waguinho
19       RN         1107085     157565      Natália Bonavides
20       RO          753202      85604     Dr Fernando Máximo
21       RR          607059      19881      Jhonatan De Jesus
22       RS          585476     259023  Tenente Coronel Zucco
23       SC         1138005     227632          Carol De Toni
24       SE         1138490     131471        Yandra De André
25       SP         1615029    1001472       Guilherme Boulos
26       TO         1501325      63813         Toinho Andrade

## 5) Crie uma tabela que contenha: 

- o id do candidato
- o nome do candidato
- o nome de urna do candidato
- o partido do candidato
- o estado do candidato
- o total de receitas do candidato
- o total de bens do candidato
- o resultado do candidato (se eleito, não eleito, suplente, etc)
- a quantidade de votos do candidato no 1º turno

(0,4)

In [28]:
pd.read_sql_query("""SELECT 
    candidatos.id_candidato_bd, 
    candidatos.nome,
    candidatos.nome_urna,
    candidatos.sigla_uf, 
    candidatos.sigla_partido, 
    SUM(receitas.valor_receita) as total_receita,
    SUM(bens.valor_item) as total_bens,
    resultados.resultado,
    resultados.votos
FROM 
    candidatos 
LEFT JOIN 
    receitas ON candidatos.id_candidato_bd = receitas.id_candidato_bd
LEFT JOIN
    bens ON candidatos.id_candidato_bd = bens.id_candidato_bd
LEFT JOIN
    resultados ON candidatos.id_candidato_bd = resultados.id_candidato_bd
WHERE resultados.turno = 1
GROUP BY 
    candidatos.id_candidato_bd;
""", conn)

,id_candidato_bd,nome,nome_urna,sigla_uf,sigla_partido,total_receita,total_bens,resultado,votos
0,1000052,Lucineia Dos Santos,Neia Santos,PR,AGIR,1000.00,NaN,nao eleito,35
1,1000156,Cristovão Dos Santos Moreira,Cristovão,RJ,PATRIOTA,609600.00,1677211.41,nao eleito,4226
2,1000215,Marcos Da Costa,Marcos Da Costa,SP,AVANTE,1839267.85,39561817.11,nao eleito,6482
3,1000334,Carina Amorim Lima Verde Santos,Carina Lima Verde,PI,PTB,72089.06,NaN,nao eleito,288
4,1000436,Teresinha Depubel Dantas,Teresinha Depubel Dantas,PR,PMB,2200.00,20000.00,nao eleito,298
...,...,...,...,...,...,...,...,...,...
9641,998851,Hemerson Leite Dos Santos,Hemerson Tal,AL,AGIR,3000.00,13124.00,nao eleito,135
9642,998956,Francisco Humberto De Freitas Azevedo,Chico Humberto,MG,PRTB,420000.00,10821174.25,nao eleito,3385
9643,999780,Lindomar Barbosa De Mesquita,Mamá Mesquita,CE,PATRIOTA,20900.00,NaN,nao eleito,518
9644,99993,Maria Do Carmo Fontella Araujo,Maria Do Carmo,RS,PRTB,7500.00,71000.00,nao eleito,104
9645,999935,Jucimmeiry Barbosa Da Silva,Meiry Do Bazar,GO,AGIR,60000.00,440000.00,nao eleito,242